<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/profile/jemee">Profile</a></li>
</ul>
<style>
   
    .nav li{
        display: inline;
    }
</style>